{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Home
{% endblock %}

{% block titlePage %}
    <h2 class="titre-page">Home</h2>
{% endblock %}


{% block body %}
    <p>Ceci est la page d'accueil</p>
{% endblock %}