{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Home
{% endblock %}

{% block body %}
    <h2>Home page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam nam obcaecati perferendis quibusdam.
        Accusantium amet culpa error expedita incidunt molestiae mollitia, nemo odit quas qui rem, suscipit vel
        veritatis.</p>
{% endblock %}