{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>Lorem.
        </li>
        <li>Adipisci!
        </li>
        <li>Dolorem.
        </li>
    </ul>
{% endblock %}

{% block title %}
    {{ parent() }} > Liste de souhaits
{% endblock %}

